.webhooks {
    margin: -20px;
}

.webhooks .aui-page-header {
    margin: 0 20px;
}

.webhooks .aui-toolbar {
    line-height: 1.42857142857143;
}

.webhooks .aui-page-header-actions {
    line-height: 0;
}

.webhooks .aui-page-panel-content {
    width: 100%;
}

.webhooks form.aui {
    margin: 0;
}

.webhooks .on-webhooks-absent {
    margin: 20px !important;
}

.webhooks .aui-page-panel {
    border-bottom: none;
}

.webhooks .aui-page-panel-nav {
    background: #f5f5f5;
}

.webhooks #webhook-global-message .aui-message {
    margin-bottom: 20px;
}

.webhooks .webhook-info, .webhooks .webhook-info a {
    font-size: 12px;
    color: #707070;
}

.webhooks .status-buttons .aui-button[disabled],
.webhooks .status-buttons .aui-button[disabled]:hover,
.webhooks .status-buttons .aui-button[disabled]:active {
    background: #f2f2f2 !important;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.1) !important;
    text-shadow: none;
    text-decoration: none;
    color: #333 !important;
}

.webhooks .webhook-section-description {
    margin: 8px 0;
}

.webhooks .webhook-section-description:empty {
    display: none;
}

.webhooks #webhook-description-display {
    margin: 20px 0 10px;
}

.webhooks form.aui .field-value {
    font-weight: normal;
}

.webhooks .webhook-section {
    padding-top: 5px;
    margin-bottom: 10px;
}

.webhooks .webhook-section:last-child {
    margin-bottom: 0;
}

.webhooks .webhook-section-panel .field-group {
    padding: 4px 0;
}

.webhooks .webhook-section-panel .field-group label {
    display: inline;
    margin-left: 0;
    float: none;
    width: auto;
    text-align: left;
}

/* .webhook-section-groups is here twice to boost specificity */
.webhooks .webhook-section-groups.webhook-section-groups {
    padding-top: 0;
}

.webhooks .webhook-group h4 {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
}

.webhooks .display-mode-display .webhook-section {
    display: none;
}

.webhooks .display-mode-display .webhook-section.show {
    display: block;
}

.webhooks .display-mode-display .webhook-group {
    display: none;
}

.webhooks .display-mode-display .webhook-group.show {
    display: block;
}

.webhooks .display-mode-display .webhook-group h4 {
    display: inline;
}

.webhooks .display-mode-display .webhook-group h4::after {
    content: ": ";
}

.webhooks ul.comma-separated-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.webhooks .comma-separated-list li {
    display: inline;
}

.webhooks .comma-separated-list li::after {
    content: ", ";
}

.webhooks .comma-separated-list .last::after {
    content: "";
}

.webhooks .display-mode-display .webhook-group ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.webhooks .display-mode-display .webhook-group li.show {
    display: inline;
}

.webhooks .display-mode-display .webhook-group li {
    display: none;
}

.webhooks .display-mode-display .webhook-group .show::after {
    content: ", ";
}

.webhooks .display-mode-display .webhook-group .show.last::after {
    content: "";
}

.webhooks .display-mode-edit .webhook-group {
    float: left;
    margin: 10px 40px 10px 0;
}

.webhooks .display-mode-edit .webhook-group ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.webhooks form.aui .text,
.webhooks form.aui .password,
.webhooks form.aui .textarea,
.webhooks form.aui .select,
.webhooks form.aui .multi-select,
.webhooks form.aui .aui-select2-container .select2-choices {
    max-width: 500px;
}

.webhooks form.aui .description {
    max-width: 500px;
}

.webhooks form.aui .field-group,
.webhooks form.aui .group,
.webhooks form.aui .date-select {
    padding-top: 8px;
    padding-bottom: 8px;
}

.webhooks .aui-navgroup.aui-navgroup-vertical {
    width: 200px;
}

.webhooks .on-webhooks-present.hidden {
    display: none;
}

.webhooks .webhook-details {
}

.webhooks .webhook-explicit-events {
    width: 100%;
}

.webhooks .atlassian-autocomplete .overlabel-apply,
.webhooks .atlassian-autocomplete .search-entry,
.webhooks .webhook-explicit-events {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.webhooks .atlassian-autocomplete {
    position: relative;
}

.webhooks .atlassian-autocomplete .overlabel-apply {
    padding: .5em .5em .5em 26px;
    width: 100% !important;
}

.webhooks .atlassian-autocomplete .search-entry {
    padding: .5em .5em .5em 26px;
    min-height: 48px;
}

.webhooks-detached-suggestion-container {
    position: absolute !important;
}

.webhooks-detached-suggestion-container .suggestions {
    width: 460px !important;
}

.webhooks form.aui.display-mode-display .display-mode-edit,
.webhooks form.aui.display-mode-edit .display-mode-display {
    display: none;
}

.webhooks .aui-nav li.highlighted a {
    color: black !important;
    font-weight: bold;
}

.webhooks .buttons-container a + a::before {
    color: #bbb;
}

.webhook-disabled .webhook-disabled-info {
    color: #707070;
    display: inline;
    font-style: italic;
}

.webhook-disabled-info {
    display: none;
}

.webhooks .clear-both {
    clear: both;
}

.webhooks .variable-intersection {
    color: dimgrey !important;
}

.webhooks .variable-unavailable {
    color: lightgray !important;
}

.webhooks .variable-some {
    color: darkgray !important;
}

.webhooks .variable {
    cursor: pointer;
}

.webhooks .field-value {
    word-wrap: break-word;
    word-break: break-all;
}

/* this shouldn't be here but I can't find lozenge class in current version of aui on refapp  */
.aui-lozenge {
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #333333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 99%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.aui-lozenge-error.aui-lozenge-subtle {
    background-color: #ffffff;
    border-color: #e8a29b;
    color: #d04437;
}

.aui-lozenge-success.aui-lozenge-subtle {
    background-color: #ffffff;
    border-color: #60b070;
    color: #14892c;
}